# Web Scraping usnig Selenium Assignment

In [14]:
import selenium
import pandas as pd
import warnings
from selenium import webdriver
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [15]:
# Initializing the web driver
driver = webdriver.Chrome()

In [18]:
# Accessing the website
driver.get('https://www.shine.com/')

In [21]:
# Entering the Designation
designation = driver.find_element(By.CLASS_NAME, "form-control  ")
designation.send_keys('Data Analyst')

In [23]:
# Entering the location
loc = driver.find_element(By.XPATH, '//li[@class="jobSearchForm_search_item__85hKe form-group"]/div/input')
loc.send_keys('Bangalore')

In [24]:
#searching the entered parameters
search = driver.find_element(By.CLASS_NAME, "searchForm_btnWrap_advance__VYBHN")
search.click()

In [48]:
# Scraping the job details

job_title = []
job_loc = []
company_name = []
exp_req = []

print(len(job_title), len(job_loc), len(company_name), len(exp_req))

0 0 0 0

In [49]:
# # Scraping for titles
# title_tags = driver.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]/p/a[1]')
# for i in title_tags:
#     title = i.text
#     job_title.append(title)
    
# # Scraping for location
# loc_tags = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]/span')
# for i in loc_tags:
#     location = i.text
#     job_loc.append(location)
    
# # Scraping for company name
# company_tags = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span')
# for i in company_tags:
#     company = i.text
#     company_name.append(company)
    
# #Scraping for experience required
# exp_tags = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
# for i in exp_tags:
#     experience = i.text
#     exp_req.append(experience)

In [50]:
print(len(job_title), len(job_loc), len(company_name), len(exp_req))

20 13 20 20

In [32]:
# Scraping the Job Titles

titles = []
for i in driver.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]/p/a[1]'):
    titles.append(i.text)
    
print(len(titles))

20

In [60]:
# Scraping the Job Location

location = []
for i in driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]'):
    location.append(i.text)
    
print(len(location))

20

In [53]:
# Scraping the Company Names

company = []
for i in driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span'):
    company.append(i.text)
    
print(len(company))

20

In [56]:
# Scraping the Experience Required

exp_req = []
for i in driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]'):
    exp_req.append(i.text)

print(len(exp_req))

20

In [61]:
df = pd.DataFrame({'Titles': titles, 'Location': location, 'Company Name':company, 'Experience Required':exp_req})
df[:10]

,Titles,Location,Company Name,Experience Required
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore,phoenix global re settlement servic...,3 to 8 Yrs
2,Data Analyst (Business development),Bangalore\n+8,gallagher and mohan private limited,2 to 4 Yrs
3,Data Analyst,Bangalore,subhadra jobs consultancy hiring fo...,2 to 7 Yrs
4,Data Analyst,Bangalore,subhadra jobs consultancy hiring fo...,2 to 7 Yrs
5,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
6,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Data Analyst,Bangalore,ltimindtree limited,5 to 10 Yrs
9,Data Analyst,Bangalore,vision india services private limit...,2 to 4 Yrs

# For Naukri.com

In [62]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [63]:
driver1 = webdriver.Chrome()

In [64]:
# Accessing the site through chrome
driver1.get('https://www.naukri.com/')

In [69]:
# Entering the Dsignation

designation = driver1.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [70]:
# Entering the Location

location = driver1.find_element(By.XPATH, '/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [71]:
# Entering the search option

search = driver1.find_element(By.XPATH, '/html/body/div[1]/div[7]/div/div/div[6]')
search.click()

In [79]:
# Scraping the Job Details

job_title = []
job_loc = []
company_name = []
exp_req = []

print(len(job_title), len(job_loc), len(company_name), len(exp_req))

0 0 0 0

In [80]:
# Scraping the titles
title_tags = driver1.find_elements(By.XPATH, '//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title = i.text
    job_title.append(title)
    
print(len(job_title))

20

In [82]:
# Scraping the location
loc_tags = driver1.find_elements(By.XPATH, '//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]/span')
for i in loc_tags:
    loc = i.text
    job_loc.append(loc)
    
print(len(job_loc))

20

In [83]:
# Scraping the company name
company_tags = driver1.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company = i.text
    company_name.append(company)
    
print(len(company_name))

20

In [84]:
# Scraping the Experience required for a particular job
exp_tags = driver1.find_elements(By.XPATH, '//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]/span')
for i in exp_tags:
    experience = i.text
    exp_req.append(experience)

print(len(exp_req))

20

In [85]:
# Creating the DataFrame using Pandas
df1 = pd.DataFrame({'Titles':job_title, 'Location':job_loc, 'Company Name':company_name, 'Exp Req':exp_req})
df1[:10]

,Titles,Location,Company Name,Exp Req
0,Excelher - Data Analyst,Bengaluru,Volvo Financial Services,3-5 Yrs
1,Genome Data Analyst,Bengaluru,Scientific Biominds,1-3 Yrs
2,Data Analyst// Bangalore//Chennai,"Chennai, Bengaluru",Leading MNC,4-9 Yrs
3,Data Analyst,"Mumbai, Delhi / NCR, Bengaluru",Sava Healthcare,0-5 Yrs
4,Data Analyst,Bengaluru,Leading Client,5-10 Yrs
5,HCL Tech- Job Opening For Data analyst @ Hyder...,"Bangalore Rural, Hyderabad",HCLTech,6-10 Yrs
6,FHIR Data Analyst,Bengaluru,Infosys,3-6 Yrs
7,Data Analyst,"Hybrid - Bengaluru, Delhi / NCR",Amazon,2-4 Yrs
8,"Data Analyst - Python, PySpark","Hybrid - Pune, Bengaluru",One of the TOP Financial Services Organization,6-11 Yrs
9,Data Analyst,Bengaluru,Paypal,2-7 Yrs

# Scraping from Flipkart:

In [43]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [44]:
driver2 = webdriver.Chrome()

In [45]:
driver2.get('https://www.flipkart.com/')

In [46]:
# Entering the Sunglasses
sunglass = driver2.find_element(By.CLASS_NAME, "Pke_EE")
sunglass.send_keys('Sunglasses')

In [47]:
# Entering the search button
search = driver2.find_element(By.XPATH, '//div[@class="_1sFryS _2alaMB"]/button')
search.click()

In [48]:
# Sunglasses titles scraping from 1st page
glass_title = []

glass_tags = driver2.find_elements(By.XPATH, '//a[@class="WKTcLC"]')
for i in glass_tags:
    sun_title = i.text
    glass_title.append(sun_title)
    
print(len(glass_title))
print(glass_title)

32
['UV Protection Round Sunglasses (51)', 'UV Protection Wayfarer, Retro Square Sunglasses (52)', 'UV Protection, Mirrored Wayfarer Sunglasses (52)', 'UV Protection Wayfarer Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (52)', 'UV Protection Wayfarer, Retro Square Sunglasses (52)', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Rectangular Sunglasses (Free Size)', 'Polarized Aviator, Aviator Sunglasses (21)', 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (57)', 'Mirrored Wayfarer Sunglasses (50)', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection, Polarized Wayfarer Sunglasses (52)', 'UV Protection Sports, Wrap-around Sunglasses (70)', 'UV Protection Over-sized Sunglasses (60)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Over-sized Sunglasses (60)', 'UV Protection, Riding Glasses Retro Square Sunglasses (...', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Retro Square, Wayfarer, Sports Sunglasses...', 'UV Protection Wayfarer Sunglasses (60)', 'Polarized, UV Protection Aviator Sunglasses (58)', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (Free Size)']

In [50]:
# price of the glasses
Price = []

price_tags = driver2.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')
for i in price_tags[:32]:   # here i have done slicing since there were only 33 titles available so for creating the dataframe we need to have same length
    pricing = i.text
    Price.append(pricing[0:32])

print(len(Price))
print(Price)

32
['₹699', '₹594', '₹169', '₹159', '₹779', '₹159', '₹169', '₹299', '₹159', '₹149', '₹340', '₹497', '₹1,200', '₹212', '₹250', '₹899', '₹379', '₹1,309', '₹229', '₹149', '₹637', '₹499', '₹279', '₹303', '₹279', '₹408', '₹1,448', '₹385', '₹369', '₹190', '₹949', '₹712']

In [51]:
company_name = []

comp_name = driver2.find_elements(By.XPATH, '//div[@class="syl9yP"]')
for i in comp_name[:32]:  # here i have done slicing since there were only 33 titles available so for creating the dataframe we need to have same length
    company = i.text
    company_name.append(company)
    
print(len(company_name))
print(company_name)

32
['VOYAGE', 'ROYAL SON', 'Elligator', 'Elligator', 'Fastrack', 'SRPM', 'Elligator', 'elegante', 'SRPM', 'Elligator', 'Eyenaks', 'ROYAL SON', 'Pushpa Traders', 'ROADWAY', 'Dervin', 'Fastrack', 'ROYAL SON', 'IRUS', 'Elligator', 'Elligator', 'Woggles', 'NuVew', 'PIRASO', 'PIRASO', 'PIRASO', 'Dukiekooky', 'Resist', 'NuVew', 'ROADWAY', 'ROADWAY', 'VOYAGE', 'ROYAL SON']

Creating a DataFrame of the product details

In [52]:
df2 = pd.DataFrame({'Titles': glass_title, 'Price': Price, 'Company Name': company_name})

# just printing first 10 results for showing the results
df2[:10]

                                              Titles Price Company Name
0                UV Protection Round Sunglasses (51)  ₹699       VOYAGE
1  UV Protection Wayfarer, Retro Square Sunglasse...  ₹594    ROYAL SON
2   UV Protection, Mirrored Wayfarer Sunglasses (52)  ₹169    Elligator
3             UV Protection Wayfarer Sunglasses (58)  ₹159    Elligator
4             UV Protection Wayfarer Sunglasses (52)  ₹779     Fastrack
5  UV Protection Wayfarer, Retro Square Sunglasse...  ₹159         SRPM
6             UV Protection Wayfarer Sunglasses (50)  ₹169    Elligator
7  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹299     elegante
8   UV Protection Rectangular Sunglasses (Free Size)  ₹159         SRPM
9         Polarized Aviator, Aviator Sunglasses (21)  ₹149    Elligator

In [ ]:
# Collecting the data from next pages of web page:

In [55]:
start = 0
end = 3
for page in range(start, end):
    glass_tags = driver2.find_elements(By.XPATH, '//a[@class="WKTcLC"]')
    for i in glass_tags[:100]:
        glass_title.append(i.text)
    
    price_tags = driver2.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')
    for i in price_tags[:100]:
        Price.append(i.text)
    
    comp_name = driver2.find_elements(By.XPATH, '//div[@class="syl9yP"]')
    for i in comp_name[:100]:
        company_name.append(i.text)
        
    next_button = driver2.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(3)

In [59]:
# Details of 100 products

df3 = pd.DataFrame({'Titles': glass_title[:100], 'Price': Price[:100], 'Company Name': company_name[:100]})
df3

                                               Titles   Price Company Name
0                 UV Protection Round Sunglasses (51)    ₹699       VOYAGE
1   UV Protection Wayfarer, Retro Square Sunglasse...    ₹594    ROYAL SON
2    UV Protection, Mirrored Wayfarer Sunglasses (52)    ₹169    Elligator
3              UV Protection Wayfarer Sunglasses (58)    ₹159    Elligator
4              UV Protection Wayfarer Sunglasses (52)    ₹779     Fastrack
..                                                ...     ...          ...
95      UV Protection Wayfarer Sunglasses (Free Size)    ₹303       PIRASO
96    Polarized, UV Protection Sports Sunglasses (68)    ₹279       PIRASO
97  UV Protection, Gradient Round, Cat-eye Sunglas...    ₹408   Dukiekooky
98  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹1,448       Resist
99  Polarized, Night Vision, Riding Glasses Sports...    ₹385        NuVew

[100 rows x 3 columns]